SECRET_KEY=django-insecure-nma=

# Email Configuration
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-email-app-password
DEFAULT_FROM_EMAIL=your-email@gmail.com

YANDEX_API_KEY=your_yandex_api_key_here